{% extends 'base.html.twig' %}

{% block title %}{{'bo.user.menu'|trans}}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{'bo.user.menu'|trans}}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          <div class="card-style settings-card-2 mb-30">
                <div class="title mb-30">
                  <h6>{{'bo.crud.edit'|trans}}</h6>
                </div>
                {{ include('admin/user/_form.html.twig') }}
          </div>
        </div>
    </section>
{% endblock  %}