{% extends 'base.html.twig' %}

{% block title %}{{'bo.user.menu'|trans}}{% endblock %}
{% block javascripts %}
  {{ parent() }}
    {{ encore_entry_script_tags('delete_user') }}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{'bo.user.menu'|trans}}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <div class="menu-toggle-btn mr-15">
                    <a href="{{path('add_user')}}" class="main-btn primary-btn btn-hover">
                        <i class="bi bi-plus-square"></i> {{'app.add'|trans}}
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          {# flash message #}
          {% include 'partials/_flash.html.twig' %}
          <div class="alert alert-success deleted-user" role="alert" style="display: none;">
          </div>
          <!-- ========== tables-wrapper start ========== -->
          <div class="tables-wrapper">
            <div class="row">
              <div class="col-lg-12">
                <div class="card-style mb-30">
                  <h6 class="mb-10">{{'bo.user.label'|trans}}</h6>
                  <div class="table-wrapper table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="lead-info">
                            <h6>{{'bo.user.last.name'|trans}}</h6>
                          </th>
                          <th class="lead-email">
                            <h6>{{'bo.company.title'|trans}}</h6>
                          </th>
                          <th class="lead-email">
                            <h6>{{'bo.user.email'|trans}}</h6>
                          </th>
                          </th>
                          <th class="lead-phone">
                            <h6>{{'bo.user.phone'|trans}}</h6>
                          </th>
                          <th class="lead-address">
                            <h6>{{'bo.user.address'|trans}}</h6>
                          </th>
                          <th class="lead-type">
                            <h6>{{'bo.user.type'|trans}}</h6>
                          </th>
                          <th>
                            <h6>Action</h6>
                          </th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        {% if users is defined %}
                        {% for user in users %}
                        <tr>
                          <td class="min-width">
                            <div class="lead">
                              <div class="lead-image">
                                <img src="{{asset('uploads/images/profile/')}}{{user.imgName}}" alt="">
                              </div>
                              <div class="lead-text">
                                <p>{{user.lastName}} {{user.firstName}}</p>
                              </div>
                            </div>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">{{user.company.companyName is defined ? user.company.companyName : '-' }}</a></p>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">{{user.email}}</a></p>
                          </td>
                          <td class="min-width">
                            <p>{{user.phone}}</p>
                          </td>
                          <td class="min-width">
                            <p>{{user.address}}</p>
                          </td>
                          <td class="min-width">
                            <p>{{user.userType}}</p>
                          </td>
                          <td>
                            <div class="action">
                              <a href="{{path('show_user', {id: user.id})}}" class="btn text-primary" title="{{'app.see'|trans}}"><i class="bi bi-eye"></i></a>
                              <a href="{{path('edit_user', {id: user.id})}}" class="btn text-primary" title="{{'app.edit'|trans}}"><i class="bi bi-pen"></i></a>
                              {% if app.user.userType == 'admin' %}
                              <a href="#" class="btn text-danger user-deleted" data-id="{{ user.id }}" data-confirm="Voulez-vous vraiment supprimer cet utilisateur ?" title="{{'app.delete'|trans}}">
                              {% endif %}
                                <i class="lni lni-trash-can"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

                        <!-- end table row -->
                        <!-- ========== tables-wrapper end ========== -->
        </div>
    </section>
{% endblock  %}