{% extends 'base.html.twig' %}

{% block title %}{{'bo.user.menu'|trans}}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{'bo.user.menu'|trans}}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          <div class="card-style settings-card-1 mb-30">
                <div class="title mb-30">
                  <h6>{{'bo.crud.detail'|trans}}</h6>
                </div>
                <div class="profile-info">
                <div class="d-flex align-items-center mb-30">
                    <div class="profile-image">
                        {% if user.imgName is defined %}
                            <img src="{{asset('uploads/images/profile/')}}{{user.imgName}}" alt="profile image">
                        {% else %}
                            <img src="assets/images/profile/profile-1.png" alt="profile image">
                        {% endif %}
                      <div class="update-image">
                        <input type="file">
                        <label for=""><i class="lni lni-cloud-upload"></i></label>
                      </div>
                    </div>
                    <div class="profile-meta">
                      <h5 class="text-bold text-dark mb-10">{{user.lastName}} {{user.firstName}}</h5>
                      <p class="text-sm text-gray">{{user.userType}}</p>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{'bo.user.email'|trans}}</th>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.user.phone'|trans}}</th>
                            <td>{{user.phone}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.user.address'|trans}}</th>
                            <td>{{user.address}}</td>
                        </tr>
                    </tbody>
                <table>
                {{ include('partials/_btn_back_action.html.twig', {'path_back': path('admin_user')}) }}
                </div>
          </div>
        </div>
    </section>
{% endblock  %}