{% extends 'auth.html.twig' %}

{% block title %}{{'app.check.identifier.title'|trans}}{% endblock %}

{% block body %}

    <div class="col-lg-10 offset-lg-1">
        <h3 class="mb-3">{{'app.check.identifier.title'|trans}}</h3>
        {# flash message #}
        {% include 'partials/_flash.html.twig' %}
        <div class="bg-white shadow rounded">
            <div class="row">
                <div class="col-md-7 pe-0">
                    <div class="form-left h-100 py-5 px-5">
                        {{form_start(form)}}
                                <div class="col-12">
                                    {{ form_row(form.email, {
                                        label: 'bo.user.email'|trans,
                                        attr: {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary px-4 float-end mt-4 ">{{'app.check'|trans}}</button>
                                </div>
                        {{form_end(form)}}
                    </div>
                </div>
                <div class="col-md-5 ps-0 d-none d-md-block">
                    <div class="form-right h-100 bg-primary text-white text-center pt-5">
                        <i class="bi bi-bootstrap"></i>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-end text-secondary mt-3">Bootstrap 5 Login Page Design</p>
    </div>

{% endblock %}
