{% extends 'auth.html.twig' %}

{% block title %}{{'app.login.title'|trans}}{% endblock %}

{% block body %}

    <div class="col-lg-10 offset-lg-1">
        <h3 class="mb-3">{{'app.login.title'|trans}}</h3>
        {# flash message #}
        {% include 'partials/_flash.html.twig' %}
        <div class="bg-white shadow rounded">
            <div class="row">
                <div class="col-md-7 pe-0">
                    <div class="form-left h-100 py-5 px-5">
                        <form method="post" class="row g-4">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                                <div class="col-12">
                                    <label for="inputEmail">{{ 'bo.user.email'|trans }}<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                        <input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail"  placeholder="{{ 'bo.user.placeholder.email'|trans }}" autocomplete="email" required autofocus>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="password">{{ 'bo.user.password'|trans }}<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="{{ 'bo.user.placeholder.password'|trans }}">
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineFormCheck" name="_remember_me">
                                        <label class="form-check-label" for="inlineFormCheck">{{ 'bo.user.remember.me'|trans }}</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <a href="{{path('app_forgot_pass')}}" class="float-end text-primary">{{'bo.user.forgot.pass'|trans}}</a>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary px-4 float-end mt-4">{{'app.login'|trans}}</button>
                                </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5 ps-0 d-none d-md-block">
                    <div class="form-right h-100 bg-primary text-white text-center pt-5">
                        <i class="bi bi-bootstrap"></i>
                        <h2 class="fs-1">{{'app.login.greetings'|trans}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-end text-secondary mt-3">Bootstrap 5 Login Page Design</p>
    </div>

{% endblock %}
