{% extends 'base.html.twig' %}

{% block title %}{{'bo.offer.menu'|trans}}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delete_offer') }}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{'bo.offer.menu'|trans}}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <div class="menu-toggle-btn mr-15">
                    <a href="{{path('add_offer')}}" class="main-btn primary-btn btn-hover">
                        <i class="bi bi-plus-square"></i> {{'app.add'|trans}}
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          {# flash message #}
          {% include 'partials/_flash.html.twig' %}
          <div class="alert alert-success deleted-offer" role="alert" style="display: none;">
          </div>
          <!-- ========== tables-wrapper start ========== -->
          <div class="tables-wrapper">
            <div class="row">
              <div class="col-lg-12">
                <div class="card-style mb-30">
                  <h6 class="mb-10">{{'bo.offer.label'|trans}}</h6>
                  <div class="table-wrapper table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="lead-info">
                            <h6>{{'bo.offer.title'|trans}}</h6>
                          </th>
                          <th class="lead-email">
                            <h6>{{'bo.offer.description'|trans}}</h6>
                          </th>
                          <th class="lead-email">
                            <h6>{{'bo.offer.owner'|trans}}</h6>
                          </th>
                          </th>
                          <th class="lead-phone">
                            <h6>{{'bo.offer.rate'|trans}}</h6>
                          </th>
                          <th class="lead-address">
                            <h6>{{'bo.offer.salary'|trans}}</h6>
                          </th>
                          <th class="lead-type">
                            <h6>{{'bo.offer.location'|trans}}</h6>
                          </th>
                          <th class="lead-phone">
                            <h6>{{'bo.offer.applications'|trans}}</h6>
                          </th>
                          <th>
                            <h6>Action</h6>
                          </th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        {% if offers is defined %}
                        {% for offer in offers %}
                        <tr>
                          <td class="min-width">
                          <p><a href="#0">{{offer.title}}</a></p>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">{{offer.description[:40]}}</a></p>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">{{offer.owner.username}}</a></p>
                          </td>
                          <td class="min-width">
                            <p>{{offer.rate is defined ? offer.rate : '-'}}</p>
                          </td>
                          <td class="min-width">
                            <p>{{offer.salary is defined ? offer.salary : '-'}}</p>
                          </td>
                          <td class="min-width">
                            <p>{{offer.location}}</p>
                          </td>
                          <td class="min-width">
                            <p>{{offer.applications|length}}</p>
                          </td>
                          <td>
                            <div class="action">
                              <a href="{{path('show_offer', {id: offer.id})}}" class="btn text-primary" title="{{'app.see'|trans}}"><i class="bi bi-eye"></i></a>
                              <a href="{{path('edit_offer', {id: offer.id})}}" class="btn text-primary" title="{{'app.edit'|trans}}"><i class="bi bi-pen"></i></a>
                              <a href="#" class="btn text-danger offer-deleted" data-id="{{ offer.id }}" data-confirm="Voulez-vous vraiment supprimer cet offre ?" title="{{'app.delete'|trans}}">
                                <i class="lni lni-trash-can"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

                        <!-- end table row -->
                        <!-- ========== tables-wrapper end ========== -->
        </div>
    </section>
{% endblock  %}