{% extends 'base.html.twig' %}

{% block title %}{{'bo.offer.menu'|trans}}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{'bo.offer.menu'|trans}}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          <div class="card-style settings-card-1 mb-30">
                <div class="title mb-30">
                  <h6>{{'bo.crud.detail'|trans}}</h6>
                </div>
                <div class="profile-info">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{'bo.offer.title'|trans}}</th>
                            <td>{{offer.title}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.offer.description'|trans}}</th>
                            <td>{{offer.description}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.offer.owner'|trans}}</th>
                            <td>{{offer.owner.username}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.offer.rate'|trans}}</th>
                            <td>{{offer.rate}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.offer.salary'|trans}}</th>
                            <td>{{offer.salary}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.offer.location'|trans}}</th>
                            <td>{{offer.location}}</td>
                        </tr>
                    </tbody>
                <table>
                {{ include('partials/_btn_back_action.html.twig', {'path_back': path('admin_offer')}) }}
                </div>
          </div>
        </div>
    </section>
{% endblock  %}