
<div class="col-12 mt-4">
    {{ include('partials/_btn_back_action.html.twig', {'path_back': path_back}) }}
    <button class="main-btn primary-btn btn-hover">
    {{ button_label|default('app.save'|trans) }}
    </button>
</div>