{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span>{{ flashMessage }}</span>
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span>{{ flashMessage }}</span>
    </div>
{% endfor %}