<header>
<nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Test AMWS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{path('home_page')}}" class="nav-link active" aria-current="page" href="#">{{'fo.home.menu'|trans}}</a>
        </li>
        {% if app.user %}
        <li class="nav-item">
          <a  href="{{app.user.userType == 'admin' ? path('admin_company') : path('admin_offer')}}" class="nav-link" aria-current="page" href="#">{{'app.admin'|trans}}</a>
        </li>
        <li class="nav-item">
          <a href="{{path('app_logout')}}" class="nav-link" aria-current="page" href="#">{{'app.logout'|trans}}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{path('app_login')}}" class="nav-link" aria-current="page" href="#">{{'app.login'|trans}}</a>
        </li>
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>
</header>