      <!-- ========== header start ========== -->
      <header class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-6">
              <div class="header-left d-flex align-items-center">
                <div class="menu-toggle-btn mr-15">
                  <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                    <i class="lni lni-chevron-left me-2"></i> Menu
                  </button>
                </div>
                <a href="{{path('home_page')}}">{{'fo.home.menu'|trans}}</a>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-6">
              <div class="header-right">
                <!-- profile start -->
                <div class="profile-box ml-15">
                  <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="profile-info">
                      <div class="info">
                        <div class="image">
                        {% if app.user.imgName is defined %}
                          <img src="{{asset('uploads/images/profile/')}}{{app.user.imgName}}" alt="" />
                          {% else %}
                          <img src="{{asset('profile-image.png')}}" alt="" />
                          {% endif %}
                        </div>
                        <div>
                          <h6 class="fw-500">{{app.user.lastName ~" "~ app.user.firstName}}</h6>
                          <p>{{app.user.userType}}</p>
                        </div>
                      </div>
                    </div>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                    <li>
                      <a href="#">
                        <i class="lni lni-user"></i> View Profile
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="{{path('app_logout')}}"> <i class="lni lni-exit"></i> {{'app.logout'|trans}} </a>
                    </li>
                  </ul>
                </div>
                <!-- profile end -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- ========== header end ========== -->