<div class="navbar-logo">
            <a href="index.html">
            <img src="{{asset('/logo/logo.svg')}}" alt="logo" />
            </a>
        </div>
        <nav class="sidebar-nav">
            <ul>
            {% if app.user.userType == 'admin' %}
                <li class="nav-item {{ companyActive is defined  ? 'active' : '' }}">
                    <a href="{{path('admin_company')}}">
                    <span class="icon">
                        <i class="bi bi-buildings"></i>
                    </span>
                    <span class="text">{{'bo.company.menu'|trans}}</span>
                    </a>
                </li>
                <li class="nav-item {{ userActive is defined  ? 'active' : '' }}">
                    <a href="{{path('admin_user')}}">
                    <span class="icon">
                        <i class="bi bi-people-fill"></i>
                    </span>
                    <span class="text">{{'bo.user.menu'|trans}}</span>
                    </a>
                </li>
            {% endif %}
                <span class="divider"><hr /></span>
                <li class="nav-item {{ offerActive is defined  ? 'active' : '' }}">
                    <a href="{{path('admin_offer')}}">
                    <span class="icon">
                        <i class="bi bi-briefcase-fill"></i>
                    </span>
                    <span class="text">{{'bo.offer.menu'|trans}}</span>
                    </a>
                </li>
                <li class="nav-item {{ applicationActive is defined  ? 'active' : '' }}">
                    <a href="{{path('admin_application')}}">
                    <span class="icon">
                        <i class="bi bi-card-checklist"></i>
                    </span>
                    <span class="text">{{'bo.application.menu'|trans}}</span>
                    </a>
                </li>
            </ul>
        </nav>