{% extends 'base.html.twig' %}

{% block title %}{{'bo.application.menu'|trans}}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delete_application') }}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{'bo.application.menu'|trans}}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          {# flash message #}
          {% include 'partials/_flash.html.twig' %}
          <div class="alert alert-success deleted-application" role="alert" style="display: none;">
          </div>
          <!-- ========== tables-wrapper start ========== -->
          <div class="tables-wrapper">
            <div class="row">
              <div class="col-lg-12">
                <div class="card-style mb-30">
                  <h6 class="mb-10">{{'bo.application.label'|trans}}</h6>
                  <div class="table-wrapper table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            <h6>{{'bo.offer.label.title'|trans}}</h6>
                          </th>
                          <th>
                            <h6>{{'bo.user.last.name'|trans}}</h6>
                          </th>
                          <th class="lead-email">
                            <h6>{{'bo.user.email'|trans}}</h6>
                          </th>
                          <th class="lead-email">
                            <h6>{{'bo.user.phone'|trans}}</h6>
                          </th>
                          </th>
                          <th class="lead-phone">
                            <h6>{{'bo.application.cover.letter'|trans}}</h6>
                          </th>
                          <th>
                            <h6>Action</h6>
                          </th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        {% if applications is defined %}
                        {% for application in applications %}
                        <tr>
                          <td class="min-width">
                          <p><a href="#0">{{application.offer.title}}</a></p>
                          </td>
                          <td class="min-width">
                          <p><a href="#0">{{application.fullname}}</a></p>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">{{application.email[:40]}}</a></p>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">{{application.phone}}</a></p>
                          </td>
                          <td class="min-width">
                            <p>{{application.coverLetter}}</p>
                          </td>
                          <td>
                            <div class="action">
                              <a href="{{path('show_application', {id: application.id})}}" class="btn text-primary" title="{{'app.see'|trans}}"><i class="bi bi-eye"></i></a>
                              {# <a href="{{path('edit_offer', {id: application.id})}}" class="btn text-primary" title="{{'app.edit'|trans}}"><i class="bi bi-pen"></i></a> #}
                              <a href="#" class="btn text-danger application-deleted" data-id="{{ application.id }}" data-confirm="Voulez-vous vraiment supprimer cet demande ?" title="{{'app.delete'|trans}}">
                                <i class="lni lni-trash-can"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

                        <!-- end table row -->
                        <!-- ========== tables-wrapper end ========== -->
        </div>
    </section>
{% endblock  %}