{% extends 'base.html.twig' %}

{% block title %}{{'bo.application.menu'|trans}}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{'bo.application.menu'|trans}}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          <div class="card-style settings-card-1 mb-30">
                <div class="title mb-30">
                  <h6>{{'bo.crud.detail'|trans}}</h6>
                </div>
                <div class="profile-info">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{'bo.offer.label.title'|trans}}</th>
                            <td>{{application.offer.title}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.user.last.name'|trans}}</th>
                            <td>{{application.fullname}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.user.email'|trans}}</th>
                            <td>{{application.email}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.user.phone'|trans}}</th>
                            <td>{{application.phone}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.application.resume'|trans}}</th>
                            <td>
                                {% if application.resume is defined %}
                                <a href="{{asset('uploads/files/resume/')}}{{application.resume}}" download="{{application.resume}}">{{'app.download'|trans}}</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{'bo.application.other'|trans}}</th>
                            <td>
                                 {% if application.other is defined %}
                                <a href="{{asset('uploads/files/other/')}}{{application.other}}" download="{{application.other}}">{{'app.download'|trans}}</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{'bo.application.cover.letter'|trans}}</th>
                            <td>{{application.coverLetter}}</td>
                        </tr>
                    </tbody>
                <table>
                {{ include('partials/_btn_back_action.html.twig', {'path_back': path('admin_application')}) }}
                </div>
          </div>
        </div>
    </section>
{% endblock  %}