{% extends 'base.html.twig' %}

{% block title %}{{'bo.company.menu'|trans}}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delete_company') }}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{'bo.company.menu'|trans}}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <div class="menu-toggle-btn mr-15">
                    <a href="{{path('add_company')}}" class="main-btn primary-btn btn-hover">
                        <i class="bi bi-plus-square"></i> {{'app.add'|trans}}
                    </a>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          {# flash message #}
          {% include 'partials/_flash.html.twig' %}
          <div class="alert alert-success deleted-company" role="alert" style="display: none;">
          </div>
          <!-- ========== tables-wrapper start ========== -->
          <div class="tables-wrapper">
            <div class="row">
              <div class="col-lg-12">
                <div class="card-style mb-30">
                  <h6 class="mb-10">{{'bo.company.label'|trans}}</h6>
                  <div class="table-wrapper table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="lead-info">
                            <h6>{{'bo.company.name'|trans}}</h6>
                          </th>
                          <th class="lead-email">
                            <h6>{{'bo.company.kbis'|trans}}</h6>
                          </th>
                          </th>
                          <th class="lead-phone">
                            <h6>{{'bo.company.stat'|trans}}</h6>
                          </th>
                          <th class="lead-address">
                            <h6>{{'bo.company.rcs'|trans}}</h6>
                          </th>
                          <th class="lead-type">
                            <h6>{{'bo.company.phone'|trans}}</h6>
                          </th>
                          <th>
                            <h6>Action</h6>
                          </th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        {% if companies is defined %}
                        {% for company in companies %}
                        <tr>
                          <td class="min-width">
                            <div class="lead">
                              <div class="lead-image">
                                <img src="{{asset('uploads/images/logoPath/')}}{{company.logo}}" alt="">
                              </div>
                              <div class="lead-text">
                                <p>{{company.companyName}}</p>
                              </div>
                            </div>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">{{company.kbis}}</a></p>
                          </td>
                          <td class="min-width">
                            <p>{{company.stat}}</p>
                          </td>
                          <td class="min-width">
                            <p>{{company.rcs}}</p>
                          </td>
                          <td class="min-width">
                            <p>{{company.phone}}</p>
                          </td>
                          <td>
                            <div class="action">
                              <a href="{{path('show_company', {id: company.id})}}" class="btn text-primary" title="{{'app.see'|trans}}"><i class="bi bi-eye"></i></a>
                              <a href="{{path('edit_company', {id: company.id})}}" class="btn text-primary" title="{{'app.edit'|trans}}"><i class="bi bi-pen"></i></a>
                              <a href="#" class="btn text-danger company-deleted" data-id="{{ company.id }}" data-confirm="Voulez-vous vraiment supprimer cet entreprise ?" title="{{'app.delete'|trans}}">
                                <i class="lni lni-trash-can"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

                        <!-- end table row -->
                        <!-- ========== tables-wrapper end ========== -->
        </div>
    </section>
{% endblock  %}