{% extends 'base.html.twig' %}

{% block title %}{{'bo.company.menu'|trans}}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{'bo.company.menu'|trans}}</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          <div class="card-style settings-card-1 mb-30">
                <div class="title mb-30">
                  <h6>{{'bo.crud.detail'|trans}}</h6>
                </div>
                <div class="profile-info">
                <div class="d-flex align-items-center mb-30">
                    <div class="profile-image">
                        {% if company.logo is defined %}
                            <img src="{{asset('uploads/images/logoPath/')}}{{company.logo}}" alt="company logo">
                        {% else %}
                            <img src="{{asset('logo/logo-2.svg')}}" alt="company logo">
                        {% endif %}
                      <div class="update-image">
                        <input type="file">
                        <label for=""><i class="lni lni-cloud-upload"></i></label>
                      </div>
                    </div>
                    <div class="profile-meta">
                      <h5 class="text-bold text-dark mb-10">{{company.companyName}}</h5>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{'bo.company.kbis'|trans}}</th>
                            <td>{{company.kbis}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.company.stat'|trans}}</th>
                            <td>{{company.stat}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.company.rcs'|trans}}</th>
                            <td>{{company.rcs}}</td>
                        </tr>
                        <tr>
                            <th>{{'bo.company.phone'|trans}}</th>
                            <td>{{company.phone}}</td>
                        </tr>
                    </tbody>
                <table>
                {{ include('partials/_btn_back_action.html.twig', {'path_back': path('admin_company')}) }}
                </div>
          </div>
        </div>
    </section>
{% endblock  %}