{% extends 'front.html.twig' %}

{% block title %}{{'app.apply'|trans}}{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
     <div class="col-lg-10 offset-lg-1">
        <h3 class="mb-3">{{'app.apply'|trans}}</h3>
        {# flash message #}
        {% include 'partials/_flash.html.twig' %}
        <div class="bg-white shadow rounded">
            <div class="form-left h-100 py-5 px-5">
                 {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ include('partials/_btn_group_crud_action.html.twig', {'path_back': path('home_page')}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}