{% extends 'front.html.twig' %}

{% block title %}{{'fo.home.menu'|trans}}{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        {% if offers|length == 0 %}
        <div class="card">
            <div class="card-header">
                {{"bo.offer.label.title"|trans}}
            </div>
            <div class="card-body">
                <p class="card-text text-center">{{'fo.offer.empty'|trans}}</p>
            </div>
        </div>
        {% else %}
        {% for offer in offers %}
        <div class="col-sm-6 mb-3 mb-sm-0 pb-4">
            <div class="card">
                <div class="card-header d-flex" style="justify-content:space-between;">
                    <h4>{{"bo.offer.label.title"|trans}} #{{offer.id}}</h4>
                    <span class="content-info"><b>{{'bo.offer.applications'|trans}}</b>: {{offer.applications|length}}</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{offer.title}}</h5>
                    <p class="card-text pt-3 pb-3">{{offer.description}}</p>
                    <p class="content-info"><b>{{'bo.offer.salary'|trans}}</b>: {{offer.salary}}</p>
                    <p class="content-info"><b>{{'bo.offer.location'|trans}}</b>: {{offer.location}}</p>
                    <div class="content-footer">
                    <a href="{{path('apply_offer', {offerId: offer.id})}}" class="btn btn-primary">{{'app.apply'|trans}}</a>
                    <span class="content-info"><b>{{'app.created.at'|trans}}</b>: {{offer.createdAt|date('d/m/Y')}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}