
/*################Authentification#####################"*/
a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}
.form-right i {
    font-size: 100px;
}

/*################Button#####################"*/
.default-btn {
    border: 1px solid #00125a;
    color: #00125a;
}

/*################Front page#####################"*/
.front {
    width: 100%;
    height: 100vh;
    margin-top: 55px;
}
.container-page {
    padding-top: 50px;
}
.content-info {
    font-size: 13px;
}
.content-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
